<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Voitko hyvin? Voit olla vaikka masentunut
        <a target="_blank" class="font-weight-bold link-dark" href="https://www.ouka.fi/c/document_library/get_file?uuid=07e1ae16-8161-48e4-87bc-5e11cb5e061a&groupId=78453">Kysely</a>
    </span>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
